
<html lang="en">

<head>
   
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="body">
    <div > {{>header}} </div>
    <div class="div">
    
    <h2>{{titel}}</h2>
    <h2>{{dec}} </h2>
    <form id="form1">
        <input id="countryName" type="text" placeholder="Enter the country name">
        <button id="search">search</button>
    </form>
    <p id="location"></p>
    <p id="forecast"></p>
    <p id="error"></p>

    </div>

    <script src="js/script.js"></script>
</body>

</html>